
<div id="body">
	<h1>Sign In</h1>
	<form action="~ROOT/api-local/sign-in" 
		  method="post">
		<div>
			<label for="student">Student</label>
			<select name="student" required>
				<option></option>
				<option>Jesse Lastname</option>
				<option>Jacob Salyers</option>
			</select>
		</div>
		<div>
			<label for="class">Class</label>
			<select name="class" required>
				<option></option>
				<option>Jiu-Jitsu</option>
				<option>Wrestling</option>
				<option>Open Mat</option>
			</select>
		</div>
		<input value="Submit" type="submit"/>
	</form>
</div>
