
<div id="body">
	<h1>Contact us</h1>
	<p>
	If you have any questions or concerns about our schedule or pricing, please reach out using the form below.
	</p>
	<form action="~ROOT/api/submit" method="post">
		<div class="horizontal">
			<div>
				<label for="first_name">First Name</label>
				<input type="text" name="first_name" required/>
			</div>
			<div>
				<label for="last_name">Last Name</label>
				<input type="text" name="last_name" required/>
			</div>
		</div>

		<div>
			<label for="email">Email</label>
			<input type="email" name="email" required/>
		</div>

		<div>
			<label for="message">Message</label>
			<textarea name="message" required></textarea>
		</div>
		<input value="Send" type="submit"/>
	</form>
</div>
