    <div id="body">
      <!-- 
        h1's margin was overflowing, creating a white border I didn't
        like, so I replaced it with padding. We won't need this
        if #body's background color matches body's background color.
      -->
      <h1> Schedule </h1>
	  <table id="schedule">
		  <tr>
			  <td></td>
			  <td>Monday</td>
			  <td>Tuesday</td>
			  <td>Wednesday</td>
			  <td>Thursday</td>
			  <td>Friday</td>
			  <td>Saturday</td>
			  <td>Sunday</td>
		  </tr>
		  <tr>
			  <td class="cell">6:00 AM</td>
			  <td class="cell">Gi</td>
			  <td class="cell"></td>
			  <td class="cell">Gi</td>
			  <td class="cell"></td>
			  <td class="cell">Gi</td>
			  <td class="cell"></td>
			  <td class="cell"></td>
		  </tr>
		  <tr>
			  <td class="cell">12:00 PM</td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
		  </tr>
		  <tr>
			  <td class="cell">3:00 PM</td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
		  </tr>
		  <tr>
			  <td class="cell">5:00 PM</td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
			  <td class="cell"></td>
		  </tr>
	  </table>
    </div>
