<table class="schedule">
	<tr>
		<td></td>
		<td>Sunday</td>
		<td>Monday</td>
		<td>Tuesday</td>
		<td>Wednesday</td>
		<td>Thursday</td>
		<td>Friday</td>
		<td>Saturday</td>
	</tr>
	<tr>
		<td>9:00 AM</td>
		<!--Sunday--><td></td>
		<!--Monday--><td></td>
		<!--Tuesday--><td></td>
		<!--Wednesday--><td></td>
		<!--Thursday--><td></td>
		<!--Friday--><td></td>
		<!--Saturday--><td>Kids Class [Invite Only]</td>
	</tr>
	<tr>
		<td>11:00 AM</td>
		<!--Sunday--><td>Jiu Jitsu Open Mat</td>
		<!--Monday--><td></td>
		<!--Tuesday--><td></td>
		<!--Wednesday--><td></td>
		<!--Thursday--><td></td>
		<!--Friday--><td></td>
		<!--Saturday--><td>Jiu Jitsu Open Mat</td>
	</tr>
	<tr>
		<td>12:00 PM</td>
		<!--Sunday--><td></td>
		<!--Monday--><td>Jiu Jitsu Lab [Upon Request]</td>
		<!--Tuesday--><td>Jiu Jitsu Lab [Upon Request]</td>
		<!--Wednesday--><td>Jiu Jitsu Lab [Upon Request]</td>
		<!--Thursday--><td>Jiu Jitsu Lab [Upon Request]</td>
		<!--Friday--><td>Jiu Jitsu Lab [Upon Request]</td>
		<!--Saturday--><td></td>
	</tr>
	<tr>
		<td>12:30 PM</td>
		<!--Sunday--><td>Competition Class ( Invite Only)</td>
		<!--Monday--><td></td>
		<!--Tuesday--><td></td>
		<!--Wednesday--><td></td>
		<!--Thursday--><td></td>
		<!--Friday--><td></td>
		<!--Saturday--><td></td>
	</tr>
	<tr>
		<td>3:00 PM</td>
		<!--Sunday--><td>MMA Foundations</td>
		<!--Monday--><td></td>
		<!--Tuesday--><td></td>
		<!--Wednesday--><td></td>
		<!--Thursday--><td></td>
		<!--Friday--><td></td>
		<!--Saturday--><td></td>
	</tr>
	<tr>
		<td>6:00 PM</td>
		<!--Sunday--><td></td>
		<!--Monday--><td></td>
		<!--Tuesday--><td></td>
		<!--Wednesday--><td></td>
		<!--Thursday--><td>MMA Foundations</td>
		<!--Friday--><td></td>
		<!--Saturday--><td>Beginner Jiu Jitsu</td>
	</tr>
	<tr>
		<td>6:30 PM</td>
		<!--Sunday--><td></td>
		<!--Monday--><td>Mat Lab (Judo&amp;JiuJitsu) [Open Attendance]</td>
		<!--Tuesday--><td></td>
		<!--Wednesday--><td>Wrestling Fundamentals</td>
		<!--Thursday--><td></td>
		<!--Friday--><td></td>
		<!--Saturday--><td></td>
	</tr>
</table>
