@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url(ugh/fonts/roboto_italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url(ugh/fonts/roboto_italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(ugh/fonts/roboto.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(ugh/fonts/roboto.ttf) format('truetype');
}
