/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: Ubuntu, sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #7171d1;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

table {
  width: 100%;
}

th {
  text-align: left;
  border-bottom: 1px solid;
}

td {
  width: 50%;
  word-break: break-all;
  border-bottom: 1px solid;
  padding-top: .75em;
  padding-bottom: .75em;
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: .45em;
  padding: 1em;
  max-width: 40ch;
  width: 100%;
}

select, input, textarea {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form input[type="submit"], button {
  background-color: #bbbbf2;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
  cursor: pointer;
  margin-left: auto;
}

form input[type="submit"]:hover, button:hover {
  background-color: #9292d3;
}

form input[type="submit"]:active, button:active {
  background-color: #b2b2d5;
}

label {
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#form-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

#response {
    width: 100%;
    max-width: 40ch;
}
