/********************************************************************
 * 						TOP LEVEL FORMATTING						*
 ********************************************************************/

body {
	margin: 0px 0px 0px 0px;
}

p {
	padding-left: 15px;
}

tr {
	text-align: center;
}

a {
	text-decoration:none;
	color:inherit;
}

h1 {
	color: var(--accent);
}

hr {
	border-color: var(--border);
}

#body {
	margin-top: 3%;
	margin-left:  5%;
	margin-right: 5%;
	min-height: 500px;
	z-index: 1;
}

/* move this */
#body .indented {
	text-indent:2em;
}

/********************************************************************
 * 						   HEADER FORMATTING						*
 ********************************************************************/

#header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: 120px;
	width: 100%;
	color: var(--accent);
	--pad: 70%;
	z-index: 2;
	background-color: white;
}

#header #name {
 font-size:30pt; 
 padding-left: 15px;
}

#header #padding {
	height: var(--pad);
	background-color: inherit;
	display: flex;    		 /* So the flex stuff is kind of magic */
	flex-direction: column;  /* See here: https://css-tricks.com/centering-css-complete-guide/ */
	justify-content: center;
	resize: vertical;
}

#header #menu {
	height: calc(100% - var(--pad));
	width: 100%;
	background-color: inherit;
}

#header .menu-row {
	vertical-align: middle;
	width: calc(100% / 5);
}

/********************************************************************
 * 						   FOOTER FORMATTING						*
 ********************************************************************/

#footer {
	height: 90px;
	z-index: 2;
	width: 100%;
	position: sticky;
	bottom: 0;
	display: flex;
	flex-direction: column;
	background-color: white;
}

#footer hr {
	margin-top: 0;
	margin-bottom: 20px;
}

#footer span {
	margin-left: 1em;
}

/********************************************************************
 *							HOME FORMATTING							*
 ********************************************************************/

.under-heading {
	margin: 0 0 15px 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

/********************************************************************
 * 						 SCHEDULE FORMATTING						*
 ********************************************************************/

.schedule {
	width:100%;
	padding-left: 15px;
	padding-right: 15px;
}

.schedule td {
	width: calc(100% / 8);
	padding-top: 15px;
	vertical-align: middle;
}
