<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nomad Jiu Jitsu</title>
    <link rel="shortcut icon" href="~ROOT/favicon.ico">

    <link rel="stylesheet" href="~ROOT/css/roboto.css">
    <link rel="stylesheet" href="~ROOT/css/normalize.css">
    <link rel="stylesheet" href="~ROOT/css/milligram.css">

    <link rel="stylesheet" href="~ROOT/css/colors.css">
    <link rel="stylesheet" href="~ROOT/css/styles.css">
  </head>
  <body>
    <div id="header">
      <div id="padding">
        <div id="name">
          <a href="~ROOT/index.html">Nomad Jiu Jitsu</a>
        </div>
      </div>
      <table id="menu">
        <tr>
          <td class="menu-row">
            <a href="~ROOT/local/sign-in.html">SIGN IN</a>
          </td>
          <td class="menu-row">
            <a href="~ROOT/local/sign-up.html">SIGN UP</a>
          </td>
        </tr>
      </table>
    </div>

    <!-- ~BODY~ -->

    <div id="footer">
      <hr>
      <span> 3139 South Grand Blvd. Suite 201</span>
      <span>CaravanCollective@outlook.com</span>
    </div>
  </body>
</html>

